
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area bg-gradient text-center">
    <!-- Fixed BG -->
    <div class="fixed-bg" style="background-image: url(~/assets/img/shape/bg-4.png);"></div>
    <!-- Fixed BG -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Hakkımızda</h1>

            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Star About Area
============================================= -->
<div class="about-area default-padding">
    <div class="container">
        <div class="about-items">
            <div class="row">
                <div class="col-lg-6 thumb wow fadeInUp">
                    <img src="~/assets/img/illustration/14.png" alt="Thumb">
                </div>
                <div class="col-lg-6 info wow fadeInLeft">
                    <h5>BİZ KİMİZ?</h5>
                    <h2><strong>Genç Yazılımcılar Hakkında Her Şey</strong></h2>
                    <p>
                        Agreed but expect repair she nay sir silent person. Direction can dependent one bed situation attempted. His she are man their spite avoid. Her pretended fulfilled extremely education yet. Satisfied did one admitting incommode tolerably how are.
                    </p>
                    <div class="progress-items">
                        <div class="progress-box">
                            <h5>Toplam Üye Sayısı <span class="float-right">378</span></h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="87"></div>
                            </div>
                        </div>
                        <div class="progress-box">
                            <h5>Toplam Ekip Sayısı <span class="float-right">5</span></h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="52"></div>
                            </div>
                        </div>
                        <div class="progress-box">
                            <h5>Toplam Ekipbaşı Sayısı <span class="float-right">5</span></h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="52"></div>
                            </div>
                        </div>
                        <div class="progress-box">
                            <h5>Toplam Tamamlanan Proje <span class="float-right">35</span></h5>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-width="52"></div>
                            </div>
                        </div>
                        <!-- End Progressbar -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->
<!-- Start Process
============================================= -->
<div class="our-process-area default-padding-bottom bottom-less">
    <div class="container">
        <div class="process-box text-center">
            <div class="row">
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="500ms">
                        <div class="icon">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <h4>İlerleme</h4>
                        <p>
                            2022 yılında kurulan topluluğumuz her gün gelişmekte.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="600ms">
                        <div class="icon">
                            <i class="fas fa-hdd"></i>
                        </div>
                        <h4>Güncel Teknoloji</h4>
                        <p>
                            Gün geçtikçe gelişen teknolojiye ayak uyduruyoruz.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="700ms">
                        <div class="icon">
                            <i class="fas fa-bullseye"></i>
                        </div>
                        <h4>Hedefimiz</h4>
                        <p>
                            Sektörde karşımıza çıkacak olan teknolojileri öğrenmek
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="single-item col-lg-3 col-md-6">
                    <div class="item wow fadeInUp" data-wow-delay="800ms">
                        <div class="icon">
                            <i class="fas fa-list-alt"></i>
                        </div>
                        <h4>Sonuçlar</h4>
                        <p>
                            35 adet bitmiş proje ile yazılıma katkı sağladık.
                        </p>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Process -->
<!-- Start Why Choose Us
============================================= -->
<div class="choose-us-area default-padding-bottom bg-gray">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6 thumb wow fadeInRight">
                <img src="~/assets/img/illustration/7.png" alt="Thumb">
            </div>
            <div class="col-lg-6 pt-5 info wow fadeInUp">
                <h2><strong>Bizi Neden Katılmalısınız?</strong></h2>
                <p>
                    Greatly explain attempt perhaps in feeling he. House men taste bed not drawn joy. Through enquire however do equally herself at.
                </p>
                <p>
                    Picture removal detract earnest is by. Esteems met joy attempt way clothes yet demesne tedious. Replying an marianne do it an entrance advanced. Two dare say play when hold. Required bringing me material stanhill jointure is as he. Mutual indeed yet her living result matter him bed whence.
                </p>
                <a class="btn circle btn-md btn-gradient">Üye Ol</a>
            </div>
        </div>
    </div>
</div>
<!-- End Why Choose Us -->
